* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
}

#root {
  width: 100%;
}

.App {
  font-family: sans-serif;
  width: 90vw;
  margin: 0 auto;
  padding: 2rem 0;
}

h1 {
  margin-bottom: 1rem;
}

fieldset {
  border: 1px solid blue;
  width: 360px;
  border-radius: 5px;
}

legend {
  color: blue;
  font-size: 24px;
  font-family: sans-serif;
}

input {
  font-size: 18px;
  padding: 5px;
  height: 35px;
  width: 350px;
  border: 1px solid blue;
  outline: none;
  border-radius: 5px;
  color: blue;
/*   border-bottom: none; */
}

.container{
  display: flex;
  justify-content: center;


}
datalist {
  position: absolute;
  background-color: white;
  border: 1px solid blue;
  border-radius: 0 0 5px 5px;
  border-top: none;
  font-family: sans-serif;
  width: 350px;
  padding: 5px;
  max-height: 10rem;
  overflow-y: auto;

  width: 100%;
}

option {
  background-color: white;
  padding: 4px;
  color: blue;
  margin-bottom: 1px;
   font-size: 18px;
  cursor: pointer;
}

option:hover,  .active{
  background-color: lightblue;
}

.container ul {
  list-style: none;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-row-gap: 1rem;
  grid-column-gap: 20px;
  overflow: hidden; */

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container li {
  border: 1px solid #747272;
  border-radius: 5px;

  max-width: 350px;
  margin: 20px;
}

.product {
  padding: 20px;
}

.container img {
  width: 100%;
}

.container h3 {
  font-size: 1rem;
  line-height: 1.4;
  text-transform: uppercase;
  margin: 10px;
}

.container p {
  margin: 10px;
}

.container p::first-letter{
  text-transform: capitalize;
}

.recherche {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px 0px 10px;
}

.container li div {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;

}

.quantity {
  width: 10%;
}

.ajouter {
  width: 65%;
}

.basket {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}

.basket ul {
    list-style: none;
}

.basket li {

}

.basket label {

}
